var config = {}

config.twitter = {
	consumer_key: 'consumer_key',
    consumer_secret: 'consumer_secret',
    access_token_key: 'access_token_key',
    access_token_secret: 'access_token_secret'
}
config.welcomehome = "Welcome back, Pépito";
config.staysafe = "Stay safe, Pépito";
config.outtoolong = "I miss Pépito";
config.outreallylong = "I miss Pépito";
config.athome = "I'm having fun with Pépito";
config.normalTweetInterval = 7200000;
module.exports = config;